<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 	<jmxConfigurator />
 	<property name="LOG_HOME" value="/home/admin/dzswj/logs/" />
    <appender name="stdout"  class="ch.qos.logback.core.ConsoleAppender"> 
        <encoder charset="UTF-8"> <!-- encoder 可以指定字符集，对于中文输出有意义 -->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{80} %c %L - %msg%n</pattern>
        </encoder>
    </appender> 
 	
    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>error</level>
        </filter>
 
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/out-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>20mb</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
 
        <encoder charset="UTF-8">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{80} %c %L - %msg%n</pattern>
        </encoder>
    </appender>
 
    <!-- 输出到控制台和文件，可定义更多的 Appender -->
    <root level="error">
        <appender-ref ref="RollingFile"/>
        <appender-ref ref="stdout" />
    </root>
 
    <!-- 下面配置一些第三方包的日志过滤级别，用于避免刷屏 -->
      <logger name="org.springframework" level="error"/>
    <logger name="org.apache" level="error"/>
    <logger name="org.mybatis" level="error"/>
    <logger name="gov.gdntax" level="error"/>
    <logger name="gov.gdtax" level="error"/>
    <logger name="gov.gdltax" level="error"/>
</configuration>