.login {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1;
	font-family: Microsoft yahei;
}
.login > img {
	width: 100%;
	height: 100%;
}
.login-body {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1100px;
	margin-left: -550px;
	margin-top: -250px;
}
.login-left {
	width: 600px;
	margin-top: -260px;
	margin-left: -270px;
}
.login-right {
	width: 400px;
	margin-top: 40px;
	padding: 90px 30px;
	padding-bottom: 50px;
	background-color: #fff;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	position: relative;
}
.logo {
	position: absolute;
	top: 0px;
	left: 0px;
	margin-top: -60px;
}
.logo img {
	width: 400px;
}
.avatar {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	line-height: 48px;
	padding: 0 30px;
	color: #fff;
	font-size: 24px;
	font-family: Microsoft yahei;
	background-color: #32393c;
	border: 1px solid #32393c;
	box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.5);
}
.input-wrap {
	width: 340px;
	height: 125px;
	border: 1px solid #aeaeae;
	padding: 0px 17px;
}
.input-wrap .form-group:first-child {
	border-bottom: 1px solid #d4d4d4;
}
.form-group, .form-group label {
	margin-bottom: 0px;
}
.form-group label i {
	color: #585f62;
	font-size: 20px;
	line-height: 62px;
	width: 18px;
}
.checkbox {
	margin-top: 30px;
}
.form-checkbox {
	color: #3e99ff;
	font-size: 12px;
}
.form-checkbox input {
	margin-top: 1px;
}
.btn {
	display: inline-block;
	width: 100%;
	border-radius: 0;
	font-size: 18px;
	font-weight: bold;
}
.btn-login {
	float: left;
	border-radius: 5px;
	background-color: #3e99ff;
	color: #fff;
	height: 52px;
	margin-top: 20px;
}
.btn.btn-login:hover, .btn.btn-login:focus {
    color: #fff;
    background-color: #3e99ff;
}
.login-bottom {
	position: absolute;
	bottom: 0;
	height: 80px;
	width: 100%;
	line-height: 80px;
	background: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	text-align: center;
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr = #99000000,endcolorstr = #99000000);
}
.login-bottom a {
	color: #fff;
	padding: 0 15px;
	border-left: 1px solid #fff;
}
.login-bottom a:first-child {
	border-left: none;
}
.form-forget {
	float: right;
	font-size: 12px;
	color: #007ec5;
	text-decoration: underline;
}
.quickdelete {
	width:34px;
	height:34px;
	background:url(../img/quickdelete.png) no-repeat;;
	background-position: 10px 10px;
	position: absolute;
	top: 13px;
	right: -8px;
	display: block;
}
.quickdelete-wrap {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 280px;
	height: 62px;
	margin-right: 0;
	overflow: hidden;
}
.quickdelete-wrap input {
	height: 60px;
	line-height: 60px;
}
.form-control, .ue-form, .qd_ipt{
	width: 246px; 
	border-width: 0px;
	padding-right: 0px;
}
.quickdelete-wrap:focus, .quickdelete-wrap:hover{
	border-color: #3e99ff;
	box-shadow: none;
}
.error-hints{
	display: none;
	margin-bottom: 15px;
	border: 1px;
	border-color: #ff8e8e;
	border-style: solid;
	width: 248x;
	background-color: #fff2f2;
	height: 30px;
}
.error-hints>img{
	display: inline-block;
	margin-bottom: 5px;
	margin-left: 8px;
	margin-right: 5px;
}
.error-hints>p{
	display: inline-block;
	vertical-align: middle;
	margin-top: 5px;
}
.ue-form:focus, .ue-form:hover{
	-webkit-box-shadow:none;
	box-shadow:none;
}

/*** 自适应 ***/
@media screen and (min-width:1900px) {
	.login-body {
		width: 1200px;
		margin-left: -600px;
	}
}
@media screen and (max-width:1030px) {
	.login-body {
		width: 1000px;
		margin-left: -500px;
		margin-top: -220px;
	}
	.login-left > img {
		width: 700px;
		margin-top: 160px;
		margin-left: 210px;
	}
	.login-right {
		margin-right: 40px;
	}
	.login-bottom {
		height: 50px;
		line-height: 50px;
	}
}