/*
* 综合
*/
.icon_attach{
	background-image:url(icon/attach.gif);
	background-repeat: no-repeat;
}

.icon_accept{
	background-image:url(icon/accept.gif);
	background-repeat: no-repeat;
}

.icon_add{
	background-image:url(icon/add.gif);
	background-repeat: no-repeat;
}

.icon_delete{
	background-image:url(icon/delete.gif);
	background-repeat: no-repeat;
}

.icon_disk{
	background-image:url(icon/disk.gif);
	background-repeat: no-repeat;
}

.icon_help{
	background-image:url(icon/help.gif);
	background-repeat: no-repeat;
}

.icon_house{
	background-image:url(icon/house.gif);
	background-repeat: no-repeat;
}

.icon_house_gray{
	background-image:url(icon/house_gray.gif);
	background-repeat: no-repeat;
}

.icon_house_go{
	background-image:url(icon/house_go.gif);
	background-repeat: no-repeat;
}

.icon_information{
	background-image:url(icon/information.gif);
	background-repeat: no-repeat;
}

.icon_printer{
	background-image:url(icon/printer.gif);
	background-repeat: no-repeat;
}


.icon_edit{
	background-image:url(icon/edit.gif);
	background-repeat: no-repeat;
}

.icon_detail{
	background-image:url(icon/detail.gif);
	background-repeat: no-repeat;
}

.icon_time{
	background-image:url(icon/time.gif);
	background-repeat: no-repeat;
}

.icon_search{
	background-image:url(icon/search.gif);
	background-repeat: no-repeat;
}

.icon_loading{
	background-image:url(icon/loading.gif);
	background-repeat: no-repeat;
}


.icon_notice{
	background-image:url(icon/notice.gif);
	background-repeat: no-repeat;
}

.icon_success{
	background-image:url(icon/success.gif);
	background-repeat: no-repeat;
}

.icon_arrow_refresh{
	background-image:url(icon/arrow_refresh.gif);
	background-repeat: no-repeat;
}

.icon_stop{
	background-image:url(icon/stop.gif);
	background-repeat: no-repeat;
}

.icon_up{
	background-image:url(icon/up.gif);
	background-repeat: no-repeat;
}

.icon_down{
	background-image:url(icon/down.gif);
	background-repeat: no-repeat;
}

.icon_telephone{
	background-image:url(icon/telephone.gif);
	background-repeat: no-repeat;
}

.icon_bug{
	background-image:url(icon/bug.gif);
	background-repeat: no-repeat;
}

.icon_error{
	background-image:url(icon/error.gif);
	background-repeat: no-repeat;
}

.icon_exclamation{
	background-image:url(icon/exclamation.gif);
	background-repeat: no-repeat;
}

.icon_more{
	background-image:url(icon/more.gif);
	background-repeat: no-repeat;
}

.icon_fav{
	background-image:url(icon/fav.gif);
	background-repeat: no-repeat;
}

.icon_tabs{
	background-image:url(icon/tabs.gif);
	background-repeat: no-repeat;
}

.icon_lightning{
	background-image:url(icon/lightning.gif);
	background-repeat: no-repeat;
}

.icon_shape_handles{
	background-image:url(icon/shape_handles.gif);
	background-repeat: no-repeat;
}

.icon_wrench{
	background-image:url(icon/wrench.gif);
	background-repeat: no-repeat;
}

/*
* 图例
*/

.icon_chart_pie{
	background-image:url(icon/chart_pie.gif);
	background-repeat: no-repeat;
}

.icon_chart_curve{
	background-image:url(icon/chart_curve.gif);
	background-repeat: no-repeat;
}

.icon_chart_bar{
	background-image:url(icon/chart_bar.gif);
	background-repeat: no-repeat;
}

.icon_chart_organisation{
	background-image:url(icon/chart_organisation.gif);
	background-repeat: no-repeat;
}

/*
* 曲线图
*/
.icon_chart_line{
	background-image:url(icon/chart_line.gif);
	background-repeat: no-repeat;
}

.icon_chart_line_add{
	background-image:url(icon/chart_line_add.gif);
	background-repeat: no-repeat;
}

.icon_chart_line_edit{
	background-image:url(icon/chart_line_edit.gif);
	background-repeat: no-repeat;
}

.icon_chart_line_delete{
	background-image:url(icon/chart_line_delete.gif);
	background-repeat: no-repeat;
}

/*
* 图片
*/
.icon_image{
	background-image:url(icon/image.gif);
	background-repeat: no-repeat;
}

.icon_image_add{
	background-image:url(icon/image_add.gif);
	background-repeat: no-repeat;
}

.icon_image_delete{
	background-image:url(icon/image_delete.gif);
	background-repeat: no-repeat;
}

.icon_image_edit{
	background-image:url(icon/image_edit.gif);
	background-repeat: no-repeat;
}

.icon_image_link{
	background-image:url(icon/image_link.gif);
	background-repeat: no-repeat;
}

.icon_images{
	background-image:url(icon/images.gif);
	background-repeat: no-repeat;
}


/*
* 脚本
*/
.icon_script{
	background-image:url(icon/script.gif);
	background-repeat: no-repeat;
}

.icon_script_add{
	background-image:url(icon/script_add.gif);
	background-repeat: no-repeat;
}

.icon_script_delete{
	background-image:url(icon/script_delete.gif);
	background-repeat: no-repeat;
}

.icon_script_edit{
	background-image:url(icon/script_edit.gif);
	background-repeat: no-repeat;
}

.icon_script_error{
	background-image:url(icon/script_error.gif);
	background-repeat: no-repeat;
}

.icon_script_gear{
	background-image:url(icon/script_gear.gif);
	background-repeat: no-repeat;
}

.icon_script_key{
	background-image:url(icon/script_key.gif);
	background-repeat: no-repeat;
}

.icon_script_go{
	background-image:url(icon/script_go.gif);
	background-repeat: no-repeat;
}

.icon_script_lightning{
	background-image:url(icon/script_lightning.gif);
	background-repeat: no-repeat;
}
/*
* 播放控制
*/
.icon_control_play_blue{
	background-image:url(icon/control_play_blue.gif);
	background-repeat: no-repeat;
}

.icon_control_end_blue{
	background-image:url(icon/control_end_blue.gif);
	background-repeat: no-repeat;
}

.icon_control_prev_blue{
	background-image:url(icon/control_prev_blue.gif);
	background-repeat: no-repeat;
}

.icon_control_fastforward_blue{
	background-image:url(icon/control_fastforward_blue.gif);
	background-repeat: no-repeat;
}

.icon_control_pause_blue{
	background-image:url(icon/control_pause_blue.gif);
	background-repeat: no-repeat;
}

.icon_control_repeat_blue{
	background-image:url(icon/control_repeat_blue.gif);
	background-repeat: no-repeat;
}

.icon_control_rewind_blue{
	background-image:url(icon/control_rewind_blue.gif);
	background-repeat: no-repeat;
}

.icon_control_start_blue{
	background-image:url(icon/control_start_blue.gif);
	background-repeat: no-repeat;
}

.icon_control_stop_blue{
	background-image:url(icon/control_stop_blue.gif);
	background-repeat: no-repeat;
}

/*
* 程序
*/
.icon_application_cascade{
	background-image:url(icon/application_cascade.gif);
	background-repeat: no-repeat;
}

.icon_application_form{
	background-image:url(icon/application_form.gif);
	background-repeat: no-repeat;
}

.icon_application_form_add{
	background-image:url(icon/application_form_add.gif);
	background-repeat: no-repeat;
}

.icon_application_form_delete{
	background-image:url(icon/application_form_delete.gif);
	background-repeat: no-repeat;
}

.icon_application_form_edit{
	background-image:url(icon/application_form_edit.gif);
	background-repeat: no-repeat;
}

.icon_application_osx_terminal{
	background-image:url(icon/application_osx_terminal.gif);
	background-repeat: no-repeat;
}

.icon_application_side_list{
	background-image:url(icon/application_side_list.gif);
	background-repeat: no-repeat;
}

.icon_application_side_tree{
	background-image:url(icon/application_side_tree.gif);
	background-repeat: no-repeat;
}

.icon_application_view_tile{
	background-image:url(icon/application_view_tile.gif);
	background-repeat: no-repeat;
}

.icon_application_get{
	background-image:url(icon/application_get.gif);
	background-repeat: no-repeat;
}

.icon_application_put{
	background-image:url(icon/application_put.gif);
	background-repeat: no-repeat;
}

.icon_application_side_contract{
	background-image:url(icon/application_side_contract.gif);
	background-repeat: no-repeat;
}

.icon_application_side_expand{
	background-image:url(icon/application_side_expand.gif);
	background-repeat: no-repeat;
}

.icon_application_view_gallery{
	background-image:url(icon/application_view_gallery.gif);
	background-repeat: no-repeat;
}

.icon_application_view_list{
	background-image:url(icon/application_view_list.gif);
	background-repeat: no-repeat;
}

.icon_application_double{
	background-image:url(icon/application_double.gif);
	background-repeat: no-repeat;
}

/*
* 锁
*/
.icon_lock{
	background-image:url(icon/lock.gif);
	background-repeat: no-repeat;
}

.icon_lock_add{
	background-image:url(icon/lock_add.gif);
	background-repeat: no-repeat;
}

.icon_lock_delete{
	background-image:url(icon/lock_delete.gif);
	background-repeat: no-repeat;
}

.icon_lock_edit{
	background-image:url(icon/lock_edit.gif);
	background-repeat: no-repeat;
}

.icon_lock_go{
	background-image:url(icon/lock_go.gif);
	background-repeat: no-repeat;
}

.icon_lock_open{
	background-image:url(icon/lock_open.gif);
	background-repeat: no-repeat;
}

/*
* 建筑
*/
.icon_building{
	background-image:url(icon/building.gif);
	background-repeat: no-repeat;
}

.icon_building_add{
	background-image:url(icon/building_add.gif);
	background-repeat: no-repeat;
}

.icon_building_delete{
	background-image:url(icon/building_delete.gif);
	background-repeat: no-repeat;
}

.icon_building_edit{
	background-image:url(icon/building_edit.gif);
	background-repeat: no-repeat;
}

.icon_building_key{
	background-image:url(icon/building_key.gif);
	background-repeat: no-repeat;
}
/*
* 门
*/
.icon_door{
	background-image:url(icon/door.gif);
	background-repeat: no-repeat;
}

.icon_door_gray{
	background-image:url(icon/door_gray.gif);
	background-repeat: no-repeat;
}

.icon_door_in{
	background-image:url(icon/door_in.gif);
	background-repeat: no-repeat;
}

.icon_door_open{
	background-image:url(icon/door_open.gif);
	background-repeat: no-repeat;
}

.icon_door_out{
	background-image:url(icon/door_out.gif);
	background-repeat: no-repeat;
}

/*
* 铃铛
*/
.icon_bell{
	background-image:url(icon/bell.gif);
	background-repeat: no-repeat;
}

.icon_bell_add{
	background-image:url(icon/bell_add.gif);
	background-repeat: no-repeat;
}

.icon_bell_delete{
	background-image:url(icon/bell_delete.gif);
	background-repeat: no-repeat;
}

.icon_bell_error{
	background-image:url(icon/bell_error.gif);
	background-repeat: no-repeat;
}



/*
* 书
*/
.icon_book{
	background-image:url(icon/book.gif);
	background-repeat: no-repeat;
}
.icon_book_add{
	background-image:url(icon/book_add.gif);
	background-repeat: no-repeat;
}

.icon_book_delete{
	background-image:url(icon/book_delete.gif);
	background-repeat: no-repeat;
}

.icon_book_edit{
	background-image:url(icon/book_edit.gif);
	background-repeat: no-repeat;
}

.icon_book_error{
	background-image:url(icon/book_error.gif);
	background-repeat: no-repeat;
}

.icon_book_key{
	background-image:url(icon/book_key.gif);
	background-repeat: no-repeat;
}

.icon_book_open{
	background-image:url(icon/book_open.gif);
	background-repeat: no-repeat;
}

.icon_book_addresses{
	background-image:url(icon/book_addresses.gif);
	background-repeat: no-repeat;
}

/*
* 文件类型
*/
.icon_file_excel{
	background-image:url(icon/file_excel.gif);
	background-repeat: no-repeat;
}

.icon_file_word{
	background-image:url(icon/file_word.gif);
	background-repeat: no-repeat;
}

.icon_file_xml{
	background-image:url(icon/file_xml.gif);
	background-repeat: no-repeat;
}

/*
* 日历
*/
.icon_calendar{
	background-image:url(icon/calendar.gif);
	background-repeat: no-repeat;
}

.icon_calendar_add{
	background-image:url(icon/calendar_add.gif);
	background-repeat: no-repeat;
}

.icon_calendar_delete{
	background-image:url(icon/calendar_delete.gif);
	background-repeat: no-repeat;
}

.icon_calendar_edit{
	background-image:url(icon/calendar_edit.gif);
	background-repeat: no-repeat;
}

.icon_calendar_view_day{
	background-image:url(icon/calendar_view_day.gif);
	background-repeat: no-repeat;
}

.icon_calendar_view_month{
	background-image:url(icon/calendar_view_month.gif);
	background-repeat: no-repeat;
}

.icon_calendar_view_week{
	background-image:url(icon/calendar_view_week.gif);
	background-repeat: no-repeat;
}


/*
* 钝齿
*/
.icon_cog{
	background-image:url(icon/cog.gif);
	background-repeat: no-repeat;
}

.icon_cog_add{
	background-image:url(icon/cog_add.gif);
	background-repeat: no-repeat;
}

.icon_cog_delete{
	background-image:url(icon/cog_delete.gif);
	background-repeat: no-repeat;
}

.icon_cog_edit{
	background-image:url(icon/cog_edit.gif);
	background-repeat: no-repeat;
}

.icon_cog_error{
	background-image:url(icon/cog_error.gif);
	background-repeat: no-repeat;
}



/*
* 注释
*/
.icon_comment{
	background-image:url(icon/comment.gif);
	background-repeat: no-repeat;
}

.icon_comment_add{
	background-image:url(icon/comment_add.gif);
	background-repeat: no-repeat;
}

.icon_comment_delete{
	background-image:url(icon/comment_delete.gif);
	background-repeat: no-repeat;
}

.icon_comment_edit{
	background-image:url(icon/comment_edit.gif);
	background-repeat: no-repeat;
}

.icon_comments{
	background-image:url(icon/comments.gif);
	background-repeat: no-repeat;
}


/*
* 数据库
*/
.icon_database{
	background-image:url(icon/database.gif);
	background-repeat: no-repeat;
}

.icon_database_add{
	background-image:url(icon/database_add.gif);
	background-repeat: no-repeat;
}

.icon_database_delete{
	background-image:url(icon/database_delete.gif);
	background-repeat: no-repeat;
}

.icon_database_edit{
	background-image:url(icon/database_edit.gif);
	background-repeat: no-repeat;
}

.icon_database_error{
	background-image:url(icon/database_error.gif);
	background-repeat: no-repeat;
}

.icon_database_gear{
	background-image:url(icon/database_gear.gif);
	background-repeat: no-repeat;
}

.icon_database_key{
	background-image:url(icon/database_key.gif);
	background-repeat: no-repeat;
}

.icon_database_connect{
	background-image:url(icon/database_connect.gif);
	background-repeat: no-repeat;
}

.icon_database_save{
	background-image:url(icon/database_save.gif);
	background-repeat: no-repeat;
}

.icon_disconnect{
	background-image:url(icon/disconnect.gif);
	background-repeat: no-repeat;
}

/*
* 电子邮件
*/
.icon_email{
	background-image:url(icon/email.gif);
	background-repeat: no-repeat;
}

.icon_email_add{
	background-image:url(icon/email_add.gif);
	background-repeat: no-repeat;
}

.icon_email_error{
	background-image:url(icon/email_error.gif);
	background-repeat: no-repeat;
}

.icon_email_open{
	background-image:url(icon/email_open.gif);
	background-repeat: no-repeat;
}

.icon_email_delete{
	background-image:url(icon/email_delete.gif);
	background-repeat: no-repeat;
}

.icon_email_edit{
	background-image:url(icon/email_edit.gif);
	background-repeat: no-repeat;
}

.icon_email_attach{
	background-image:url(icon/email_attach.gif);
	background-repeat: no-repeat;
}

.icon_email_go{
	background-image:url(icon/email_go.gif);
	background-repeat: no-repeat;
}

.icon_email_link{
	background-image:url(icon/email_link.gif);
	background-repeat: no-repeat;
}

.icon_email_open_image{
	background-image:url(icon/email_open_image.gif);
	background-repeat: no-repeat;
}

/*
* 组
*/
.icon_group{
	background-image:url(icon/group.gif);
	background-repeat: no-repeat;
}

.icon_group_add{
	background-image:url(icon/group_add.gif);
	background-repeat: no-repeat;
}

.icon_group_delete{
	background-image:url(icon/group_delete.gif);
	background-repeat: no-repeat;
}

.icon_group_edit{
	background-image:url(icon/group_edit.gif);
	background-repeat: no-repeat;
}

.icon_group_error{
	background-image:url(icon/group_error.gif);
	background-repeat: no-repeat;
}

.icon_group_key{
	background-image:url(icon/group_key.gif);
	background-repeat: no-repeat;
}

.icon_group_link{
	background-image:url(icon/group_link.gif);
	background-repeat: no-repeat;
}

.icon_group_go{
	background-image:url(icon/group_go.gif);
	background-repeat: no-repeat;
}
/*
* 钥匙
*/
.icon_key{
	background-image:url(icon/key.gif);
	background-repeat: no-repeat;
}

.icon_key_add{
	background-image:url(icon/key_add.gif);
	background-repeat: no-repeat;
}

.icon_key_delete{
	background-image:url(icon/key_delete.gif);
	background-repeat: no-repeat;
}


/*
* 页
*/
.icon_page{
	background-image:url(icon/page.gif);
	background-repeat: no-repeat;
}

.icon_page_add{
	background-image:url(icon/page_add.gif);
	background-repeat: no-repeat;
}

.icon_page_delete{
	background-image:url(icon/page_delete.gif);
	background-repeat: no-repeat;
}

.icon_page_edit{
	background-image:url(icon/page_edit.gif);
	background-repeat: no-repeat;
}

.icon_page_error{
	background-image:url(icon/page_error.gif);
	background-repeat: no-repeat;
}

.icon_page_key{
	background-image:url(icon/page_key.gif);
	background-repeat: no-repeat;
}

.icon_page_copy{
	background-image:url(icon/page_copy.gif);
	background-repeat: no-repeat;
}

.icon_paste_plain{
	background-image:url(icon/paste_plain.gif);
	background-repeat: no-repeat;
}

/*
* 用户
*/
.icon_user{
	background-image:url(icon/user.gif);
	background-repeat: no-repeat;
}

.icon_user_add{
	background-image:url(icon/user_add.gif);
	background-repeat: no-repeat;
}

.icon_user_delete{
	background-image:url(icon/user_delete.gif);
	background-repeat: no-repeat;
}

.icon_user_edit{
	background-image:url(icon/user_edit.gif);
	background-repeat: no-repeat;
}

.icon_user_gray{
	background-image:url(icon/user_gray.gif);
	background-repeat: no-repeat;

}

.icon_user_green{
	background-image:url(icon/user_green.gif);
	background-repeat: no-repeat;
}

.icon_user_orange{
	background-image:url(icon/user_orange.gif);
	background-repeat: no-repeat;
}

.icon_user_red{
	background-image:url(icon/user_red.gif);
	background-repeat: no-repeat;
}

.icon_user_suit{
	background-image:url(icon/user_suit.gif);
	background-repeat: no-repeat;
}

.icon_user_comment{
	background-image:url(icon/user_comment.gif);
	background-repeat: no-repeat;
}

.icon_user_go{
	background-image:url(icon/user_go.gif);
	background-repeat: no-repeat;
}

/*
* 单子名片
*/
.icon_vcard{
	background-image:url(icon/vcard.gif);
	background-repeat: no-repeat;
}

.icon_vcard_add{
	background-image:url(icon/vcard_add.gif);
	background-repeat: no-repeat;
}

.icon_vcard_delete{
	background-image:url(icon/vcard_delete.gif);
	background-repeat: no-repeat;
}

.icon_vcard_edit{
	background-image:url(icon/vcard_edit.gif);
	background-repeat: no-repeat;
}

/*
* 文件夹
*/
.icon_folder_open{
	background-image:url(icon/folder_open.gif);
	background-repeat: no-repeat;
}

.icon_folder_close{
	background-image:url(icon/folder_close.gif);
	background-repeat: no-repeat;
}

.icon_folder_table{
	background-image:url(icon/folder_table.gif);
	background-repeat: no-repeat;
}

/*
* 地球
*/
.icon_world{
	background-image:url(icon/world.gif);
	background-repeat: no-repeat;
}

.icon_world_go{
	background-image:url(icon/world_go.gif);
	background-repeat: no-repeat;
}

.icon_world_delete{
	background-image:url(icon/world_delete.gif);
	background-repeat: no-repeat;
}

/**
* HTML
*/
.icon_xhtml{
	background-image:url(icon/xhtml.gif);
	background-repeat: no-repeat;	
}

.icon_xhtml_add{
	background-image:url(icon/xhtml_add.gif);
	background-repeat: no-repeat;	
}

.icon_xhtml_delete{
	background-image:url(icon/xhtml_delete.gif);
	background-repeat: no-repeat;	
}

.icon_xhtml_go{
	background-image:url(icon/xhtml_go.gif);
	background-repeat: no-repeat;	
}

.icon_back{
	background-image:url(icon/back.gif);
	background-repeat: no-repeat;	
}

/**
* Medal
**/
.icon_medal_bronze{
	background-image:url(icon/medal_bronze.gif);
	background-repeat: no-repeat;	
}

.icon_medal_bronze_add{
	background-image:url(icon/medal_bronze_add.gif);
	background-repeat: no-repeat;	
}

.icon_medal_bronze_delete{
	background-image:url(icon/medal_bronze_delete.gif);
	background-repeat: no-repeat;	
}
/*export*/
.icon_export{
	background-image:url(icon/export.png);
	background-repeat: no-repeat;	
}